@using BitBlazor
@using BitBlazor.Components
@using BitBlazor.Form
@using Microsoft.AspNetCore.Components.Forms

<div class="modal-overlay" style="display: @(_isVisible ? "block" : "none")">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close-button" @onclick="Cancel">&times;</button>
        </div>
        
        <EditForm Model="_customer" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="modal-body">
                <div class="form-group">
                    <BitTextAreaField Label="Ragione Sociale"
                                      @bind-Value="_customer.RagioneSociale"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="VAT Number"
                                      @bind-Value="_customer.PartitaIva"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="Street"
                                      @bind-Value="_customer.Indirizzo.Via"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="City"
                                      @bind-Value="_customer.Indirizzo.Citta"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="Province"
                                      @bind-Value="_customer.Indirizzo.Provincia"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="ZIP Code"
                                      @bind-Value="_customer.Indirizzo.Cap"/>
                </div>
                
                <div class="form-group">
                    <BitTextAreaField Label="Country"
                                      @bind-Value="_customer.Indirizzo.Nazione"/>
                </div>
            </div>
            
            <div class="modal-footer">
                <BitButton Color="Color.Primary">Save</BitButton>
                @* <BitButton Color="Color.Secondary" @OnClick="@( async () => await Cancel())">Cancel</BitButton> *@
                @* <button type="submit" class="btn btn-primary">Save</button> *@
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>
