@using Microsoft.AspNetCore.Components.Forms

<div class="modal-overlay" style="display: @(_isVisible ? "block" : "none")">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add New Customer</h3>
            <button type="button" class="close-button" @onclick="Cancel">&times;</button>
        </div>
        
        <EditForm Model="_customer" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="modal-body">
                <div class="form-group">
                    <label>Company Name:</label>
                    <InputText @bind-Value="_customer.RagioneSociale" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>VAT Number:</label>
                    <InputText @bind-Value="_customer.PartitaIva" class="form-control" />
                </div>
                
                <h4>Address</h4>
                <div class="form-group">
                    <label>Street:</label>
                    <InputText @bind-Value="_customer.Indirizzo.Via" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>Street Number:</label>
                    <InputText @bind-Value="_customer.Indirizzo.NumeroCivico" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>City:</label>
                    <InputText @bind-Value="_customer.Indirizzo.Citta" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>Province:</label>
                    <InputText @bind-Value="_customer.Indirizzo.Provincia" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>ZIP Code:</label>
                    <InputText @bind-Value="_customer.Indirizzo.Cap" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>Country:</label>
                    <InputText @bind-Value="_customer.Indirizzo.Nazione" class="form-control" />
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>
