@page "/"
@using BitBlazor.Components

<PageTitle>Home</PageTitle>

<BitCard>
    <CardTitle>
        <a href="#">Active Customers</a>
    </CardTitle>
    <CardBody>
        <CardText>42</CardText>
    </CardBody>
    <CardFooter>
        <CardDate Date="@(new DateTime())"
                  DatetimeFormat="yyyy-MM-dd"
                  DisplayFormat="yyyy-MM-dd" />
    </CardFooter>
</BitCard>