@page "/sales/salesorders"
@using BrewSpa.Shared.Components.Components

<PageTitle>Sales Orders</PageTitle>

<div class="salesorders-container">
    <Toolbar CurrentContext="@_currentContext"/>
</div>